/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	direction: ltr;
	/*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}

.datepicker-inline {
	width: 220px;
}

.datepicker.datepicker-rtl {
	direction: rtl;
}

.datepicker.datepicker-rtl table tr td span {
	float: right;
}

.datepicker-dropdown {
	top: 0;
	left: 0;
}

.datepicker-dropdown:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}

.datepicker-dropdown:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}

.datepicker>div {
	display: none;
}

.datepicker.days div.datepicker-days {
	display: block;
}

.datepicker.months div.datepicker-months {
	display: block;
}

.datepicker.years div.datepicker-years {
	display: block;
}

.datepicker table {
	margin: 0;
}

.datepicker td, .datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
}

.table-striped .datepicker table tr td, .table-striped .datepicker table tr th
	{
	background-color: transparent;
}

.datepicker table tr td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}

.datepicker table tr td.old, .datepicker table tr td.new {
	color: #999999;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover
	{
	background: none;
	color: #999999;
	cursor: default;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover,
	.datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover
	{
	background-color: #fde19a;
	background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a),
		to(#fdf59a));
	background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: linear-gradient(top, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a',
		endColorstr='#fdf59a', GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover,
	.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover,
	.datepicker table tr td.today:active, .datepicker table tr td.today:hover:active,
	.datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active,
	.datepicker table tr td.today.active, .datepicker table tr td.today:hover.active,
	.datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active,
	.datepicker table tr td.today.disabled, .datepicker table tr td.today:hover.disabled,
	.datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled:hover.disabled,
	.datepicker table tr td.today[disabled], .datepicker table tr td.today:hover[disabled],
	.datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled:hover[disabled]
	{
	background-color: #fdf59a;
}

.datepicker table tr td.today:active, .datepicker table tr td.today:hover:active,
	.datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active,
	.datepicker table tr td.today.active, .datepicker table tr td.today:hover.active,
	.datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active
	{
	background-color: #fbf069 \9;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover,
	.datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover
	{
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',
		endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover,
	.datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover,
	.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active,
	.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active,
	.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active,
	.datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active,
	.datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled,
	.datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled,
	.datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled],
	.datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]
	{
	background-color: #0044cc;
}

.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active,
	.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active,
	.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active,
	.datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active
	{
	background-color: #003399 \9;
}

.datepicker table tr td span {
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.datepicker table tr td span:hover {
	background: #eeeeee;
}

.datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover
	{
	background: none;
	color: #999999;
	cursor: default;
}

.datepicker table tr td span.active, .datepicker table tr td span.active:hover,
	.datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover
	{
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',
		endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover,
	.datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover,
	.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
	.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active,
	.datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled,
	.datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled,
	.datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled],
	.datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled]
	{
	background-color: #0044cc;
}

.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
	.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active
	{
	background-color: #003399 \9;
}

.datepicker table tr td span.old {
	color: #999999;
}

.datepicker th.switch {
	width: 145px;
}

.datepicker thead tr:first-child th, .datepicker tfoot tr:first-child th
	{
	cursor: pointer;
}

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr:first-child th:hover
	{
	background: #eeeeee;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}